In [98]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np 
import math
import pandas_ta as ta

In [99]:
def tatable(stock_name,talist):
	df=pd.read_csv('./Data/'+str(stock_name)+'.csv')
	for x in talist:
		df = pd.concat([df, eval('df.ta.'+str(x)+'()')], axis=1)
	df.fillna(0,inplace=True)
	df.drop(['Unnamed: 0','timestamp', 'close', 'low', 'high', 'open'], inplace=True, axis=1)
	return df

In [100]:
df = tatable('HCA.csv', ['macd', 'rsi'])
df.head(30)

     volume  MACD_12_26_9  MACDh_12_26_9  MACDs_12_26_9     RSI_14
0   46808.0           0.0            0.0            0.0   0.000000
1    1300.0           0.0            0.0            0.0   0.000000
2   99833.0           0.0            0.0            0.0   0.000000
3    5254.0           0.0            0.0            0.0   0.000000
4    9800.0           0.0            0.0            0.0   0.000000
5   11920.0           0.0            0.0            0.0   0.000000
6    3749.0           0.0            0.0            0.0   0.000000
7   13374.0           0.0            0.0            0.0   0.000000
8    7834.0           0.0            0.0            0.0   0.000000
9    1000.0           0.0            0.0            0.0   0.000000
10   5909.0           0.0            0.0            0.0   0.000000
11   6960.0           0.0            0.0            0.0   0.000000
12  10440.0           0.0            0.0            0.0   0.000000
13   7327.0           0.0            0.0            0.0   0.000000
14   3900.0           0.0            0.0            0.0  62.783877
15   2000.0           0.0            0.0            0.0  60.813900
16   1900.0           0.0            0.0            0.0  61.939239
17   4202.0           0.0            0.0            0.0  55.338005
18  10474.0           0.0            0.0            0.0  58.918024
19   6741.0           0.0            0.0            0.0  57.822338
20   1300.0           0.0            0.0            0.0  55.476785
21    300.0           0.0            0.0            0.0  53.627272
22  11277.0           0.0            0.0            0.0  53.118706
23   9687.0           0.0            0.0            0.0  51.667607
24   4193.0           0.0            0.0            0.0  58.061041
25   5204.0           0.0            0.0            0.0  55.297043
26   3900.0           0.0            0.0            0.0  55.014998
27    900.0           0.0            0.0            0.0  54.123120
28   4155.0           0.0            0.0            0.0  55.166753
29   2235.0           0.0            0.0            0.0  54.499181